# .clang-format configuration for CppCoreGuidelines

# Use the latest style based on the Clang-Format version.
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
IndentCaseLabels: true
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
AlwaysBreakTemplateDeclarations: Yes
Standard: c++17

# Pointer and Reference alignment
PointerAlignment: Left
DerivePointerAlignment: false

# Include sorting and alignment
IncludeBlocks: Preserve
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeCategories:
  - Regex: '.*'
    Priority: 1

# Namespace indentation
NamespaceIndentation: All

# Align the backslashes in macro definitions
AlignEscapedNewlines: Right

# Align consecutive assignments
AlignConsecutiveAssignments: true

# Align consecutive declarations
AlignConsecutiveDeclarations: true

AlignArrayOfStructures: Right
BinPackArguments: false
BinPackParameters: false

# Ensure readability with function definitions and calls
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakBeforeMultilineStrings: true

# Break long strings and statements to improve readability
BreakStringLiterals: true

# Control the wrapping of function definitions
PenaltyReturnTypeOnItsOwnLine: 100

# Other stylistic choices based on CppCoreGuidelines
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpaceAfterLogicalNot: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true

# Additional settings to encourage readability and maintainability
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
PenaltyBreakComment: 50
PenaltyBreakFirstLessLess: 1000
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakString: 1
PenaltyExcessCharacter: 1000000

# Enforce line breaks to ensure readability
ReflowComments: true
SortUsingDeclarations: true
SpacesInSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterOverloadedOperator: true

# Ensure consistent declaration and definition formatting
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: CaseInsensitive

# Enforce proper comment formatting
CommentPragmas: '^ IWYU pragma:'

# Specific to C++ language
Language: Cpp
